.SocialSection{
    display:flex;
    justify-content: center;
    border-top: 0.5px solid rgba(255, 255, 255, 0.3);
    padding: 1rem;
    position: absolute;
    bottom: 1rem;
    left: 0;
    width: 100%;
}